/*dispositivos móveis*/
@media (max-width: 320px) {
}

/*iPads, tablets*/
@media (max-width: 481px) {
    .cabecalho {
        
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .cabecalho .logo {
        margin-left: 0;
        padding-bottom: 60px;
    }

    .cabecalho .logo h1{
        font-size: 17px;
    }

    .cabecalho .menu {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: -50px;
    }

    .cabecalho .menu li a {
        padding: 0 0 0 10px;
        font-size: 14px;
    }

    .home .imagem-fundo {
        width: 100%;
        object-fit: scale-down;
    }

    .home .informacoes {
        padding: 10px 10px 10px 10px;
        justify-content: flex-start;
    }

    .home .informacoes h2 {
        margin: 20px 0 0 10px;
    }

    .home .informacoes p, .btn-comprar {
        margin: 0 50px 0 20px;
    }
    
    .comprar img {
        width: 250px;
    }
    
    .comprar .caracteristicas {
        gap: 1px;
        padding: 0px;
        margin: 30px 0 30px 0;
    }

    .comprar .caracteristicas li {
        font-size: 13px;
        flex-direction: column;
    }

    .comprar .caracteristicas li::before {
        margin-right: 0px;
    }

    .btn-pele {
        width: 90%;
    }
   
    .comprar .btn-pele .tipos.ativo{
        font-size: 12px;
    }
}

/*telas pequenas, laptops*/
@media (min-width: 768px) {
    .cabecalho {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    .cabecalho .logo {
        margin-left: 20px;
        padding-bottom: 10px;
    }

    .cabecalho .menu {
        display: flex;
        margin-left: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
       
    }

    .cabecalho .menu li a {
        padding: 0 0 0 10px;
        font-size: 16px;
    }

    .home .imagem-fundo {
        width: 100%;
        object-fit: contain;
    }

    .home .informacoes {
        padding: 120px 10px 10px 70px;
        justify-content: flex-start;
    }

    .home .informacoes h2 {
        font-size: 50px;
    }

    .home .informacoes p {
        font-size: 20px;
    }

    .btn-pele {
        width: 40%;
    }
 
}

/*desktops, telas grandes*/
@media (max-width: 1025px) {
   
}

/* telas muito grandes, TVs*/
@media (max-width: 1201px) {

}

