/*dispositivos móveis*/
@media (max-width: 320px) {
}

/*iPads, tablets*/
@media (max-width: 481px) {
    .cabecalho {
        height: 80px;
        background-color: #9D5A4D;
        color: #E6DAD1;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .cabecalho .logo {
        margin-left: 0;
        padding-bottom: 60px;
        
    }

    .cabecalho .logo h1{
        font-size: 17px;
    }
    .cabecalho .menu {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: -50px;
         
    }

    .cabecalho .menu li a {
        padding: 0 0 0 10px;
        font-size: 14px;
    }
}

/*telas pequenas, laptops*/
@media (max-width: 769px) {

   
}

/*desktops, telas grandes*/
@media (max-width: 1025px) {
   
}

/* telas muito grandes, TVs*/
@media (max-width: 1201px) {

}

